fdsn-station.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	FDSN StationXML (www.fdsn.org/xml/station)

	The purpose of this schema is to define a metadata standard for seismological and related data.

 	As a successor to the metadata headers of the SEED 2.4 standard (http://www.fdsn.org/publications.htm)
	this format contains similar constructs and a superset of information.

 	Versioning for FDSN StationXML:

	The 'version' attribute of the schema definition identifies the version of the schema.  This
	version is not enforced when validating documents.

	The required 'schemaVersion' attribute of the root element identifies the version of the schema
	that the document is compatible with.  Validation only requires that a value is present but
	not that it matches the schema used for validation.

	The targetNamespace of the document identifies the major version of the schema and document,
	version 1.x of the schema uses a target namespace of "http://www.fdsn.org/xml/station/1".
	All minor versions of the schema will be backwards compatible with previous minor releases.  For
	example, all 1.x schemas are backwards compatible with and will validate documents for 1.0.
	Major changes to the schema that would break backwards compabibility will increment the major
	version number, e.g. 2.0, and the namespace, e.g. "http://www.fdsn.org/xml/station/2".

	This combination of attributes and targetNamespaces allows the schema and documents to be
	versioned and allows the schema to be updated with backward compatible changes (e.g. 1.2)
	and still validate documents created for previous major versions of the schema (e.g. 1.0).

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fsx="http://www.fdsn.org/xml/station/1"
	targetNamespace="http://www.fdsn.org/xml/station/1" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1.1">
	<xs:annotation>
		<xs:documentation>FDSN StationXML schema. A metadata standard for seismological and related data.
		</xs:documentation>
	</xs:annotation>
	<!-- Root element -->
	<xs:element name="FDSNStationXML" type="fsx:RootType"/>
	<!-- Type definitions -->
	<xs:complexType name="RootType">
		<xs:annotation>
			<xs:documentation>Root-level for StationXML documents.
			 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="xs:string">
				<xs:annotation>
					<xs:documentation>Generator of the information contained in the document.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sender" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the institution sending this message.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Module" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the software module that generated this document.
					</xs:documentation>
					<xs:documentation>Example:&lt;Module&gt;SeisComp3&lt;/Module&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModuleURI" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address of the query that generated the document,
						or, if applicable, the address of the software that generated this document.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Created" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation> Creation date of the documentation.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Network" type="fsx:NetworkType" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>The schema version compatible with the document.</xs:documentation>
				<xs:documentation>Example:schemaVersion=&apos;1.1&apos;</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="NetworkType">
		<xs:annotation>
		<xs:documentation>The Network container. All station metadata for this network is contained within this element.
		A Description element may be included with the official network name and other descriptive information.
		An Identifier element may be included to designate a persistent identifier (e.g. DOI) to use for citation.
		A Comment element may be included for arbitrary comments.
      		</xs:documentation>
      		<xs:documentation>Example:&lt;Network code="IU" startDate=2016-01-27T13:00:00&gt;</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fsx:BaseNodeType">
				<xs:sequence>
					<xs:element name="Operator" type="fsx:OperatorType" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Agency and contact persons who manage this network.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalNumberStations" type="fsx:CounterType" minOccurs="0">
						<xs:annotation>
							<xs:documentation> The total number of stations in this
								network, including inactive or terminated stations.
							</xs:documentation>
              <xs:documentation>Example:&lt;TotalNumberStations&gt;24&lt;/TotalNumberStations&gt;</xs:documentation>
              <xs:documentation>Warning:This field is likely to be deprecated in future versions of StationXML</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SelectedNumberStations" type="fsx:CounterType" minOccurs="0">
						<xs:annotation>
							<xs:documentation> The number of stations selected in the request that resulted
								in this document.
							</xs:documentation>
              <xs:documentation>Example:&lt;SelectedNumberStations&gt;12&lt;/SelectedNumberStations&gt;</xs:documentation>
              <xs:documentation>Warning:This field is likely to be deprecated in future versions of StationXML</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Station" type="fsx:StationType" minOccurs="0"
						maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StationType">
		<xs:annotation>
		<xs:documentation>The Station container. All channel metadata for this station is contained within this element.
		A Description element may be included with the official station name and other descriptive information.
		An Identifier element may be included to designate a persistent identifier (e.g. DOI) to use for citation or reference.
		A Comment element may be included for arbitrary comments.
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fsx:BaseNodeType">
				<xs:sequence>
					<xs:element name="Latitude" type="fsx:LatitudeType">
						<xs:annotation>
		<xs:documentation>Station latitude, by default in degrees. Where the bulk of the equipment is located (or another appropriate site location).</xs:documentation>
		<xs:documentation>Example:&lt;Latitude unit=&quot;DEGREES&quot; datum=&quot;WGS84&quot;&gt;34.9459&lt;/Latitude&gt;</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Longitude" type="fsx:LongitudeType">
						<xs:annotation>
		<xs:documentation>Station longitude, by default in degrees. Where the bulk of the equipment is located (or another appropriate site location).</xs:documentation>
		<xs:documentation>Example:&lt;Longitude unit=&quot;DEGREES&quot; datum=&quot;WGS84&quot;&gt;-106.4572&lt;/Longitude&gt;</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Elevation" type="fsx:DistanceType">
						<xs:annotation>
							<xs:documentation>Station elevation, by default in meters.</xs:documentation>
							<xs:documentation>Example:&lt;Elevation unit=&quot;m&quot;&gt;1850.0&lt;/Elevation&gt;</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Site" type="fsx:SiteType">
						<xs:annotation>
							<xs:documentation>Description of the location of the station
								using geopolitical entities (country, city, etc.).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WaterLevel" type="fsx:FloatType" minOccurs="0">
						<xs:annotation>
		<xs:documentation>Elevation of the water surface (in meters) for underwater sites, where 0 is sea level.
		If you put an ocean-bottom seismometer (OBS) on a lake bottom, where the lake surface is at elevation=0, then you should set WaterLevel=0.
		</xs:documentation>
		<xs:documentation>Example:&lt;WaterLevel&gt;1200&lt;/WaterLevel&gt;</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Vault" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type of vault, e.g. World-Wide Standardized Seismograph Network (WWSSN), tunnel, 
								USArray Transportable Array Generation 2, etc.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geology" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type of rock and/or geologic formation at the station.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Equipment" type="fsx:EquipmentType" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Equipment used by all channels at a station.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Operator" type="fsx:OperatorType" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Operator and associated contact persons</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreationDate" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
              <xs:documentation>Date and time (UTC) when the station was first installed.</xs:documentation>
              <xs:documentation>Warning:This field is likely to be deprecated in future versions of StationXML</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TerminationDate" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date and time (UTC) when the station was terminated or
								will be terminated. Do not include this field if a termination date is not available or is not relevant.
							</xs:documentation>
              <xs:documentation>Warning:This field is likely to be deprecated in future versions of StationXML</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalNumberChannels" type="fsx:CounterType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total number of channels recorded at this station.</xs:documentation>
							<xs:documentation>Warning:This field is likely to be deprecated in future versions of StationXML.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SelectedNumberChannels" type="fsx:CounterType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The number of channels selected in the request that resulted in this document.</xs:documentation>
							<xs:documentation>Warning:This field is likely to be deprecated in future versions of StationXML.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExternalReference" type="fsx:ExternalReferenceType"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>URI of any type of external report</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Channel" type="fsx:ChannelType" minOccurs="0"
						maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- End StationType-->
	<xs:complexType name="ChannelType">
		<xs:annotation>
		<xs:documentation>The Channel container.
		A Description element may be included with other information.
		An Identifier element may be included to designate a persistent identifier (e.g. DOI) to use for citation or reference.
		A Comment element may be included for arbitrary comments.
		</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fsx:BaseNodeType">
				<xs:sequence>
					<xs:element name="ExternalReference" type="fsx:ExternalReferenceType"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>URI of any type of external report, such as data quality reports.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Latitude" type="fsx:LatitudeType">
						<xs:annotation>
							<xs:documentation>Latitude of this channel's sensor, by default in degrees.
								Often the same as the station latitude, but
								when different the channel latitude is the true location of the sensor.
							</xs:documentation>
							<xs:documentation>Example:&lt;Latitude unit=&quot;DEGREES&quot; datum=&quot;WGS84&quot;&gt;34.9459&lt;/Latitude&gt;</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Longitude" type="fsx:LongitudeType">
						<xs:annotation>
							<xs:documentation>Longitude of this channel's sensor, by default in degrees.
								Often the same as the station longitude, but
								when different the channel longitude is the true location of the sensor.
							</xs:documentation>
							<xs:documentation>Example:&lt;Longitude unit=&quot;DEGREES&quot; datum=&quot;WGS84&quot;&gt;-106.4572&lt;/Longitude&gt;</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Elevation" type="fsx:DistanceType">
						<xs:annotation>
							<xs:documentation>Elevation of the sensor, by default in meters.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Depth" type="fsx:DistanceType">
						<xs:annotation>
							<xs:documentation>The depth of the sensor under the local surface ground level, in positive meters.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Azimuth" type="fsx:AzimuthType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Azimuth of the sensor in degrees clockwise from geographic (true) north.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dip" type="fsx:DipType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dip of the instrument in degrees, positive down from horizontal</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WaterLevel" type="fsx:FloatType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elevation of the water surface in meters for underwater sites, where 0 is sea level.
								If you put an OBS on a lake bottom, where the lake surface is at elevation=0,
								then you should set WaterLevel=0.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Data type for this channel. One or more &lt;Type&gt; tags
								can be used to specify the nature of the data this channel collects.
                The value between the &lt;Type&gt; tags must be one of:
								TRIGGERED, CONTINUOUS, HEALTH, GEOPHYSICAL, WEATHER, FLAG or SYNTHESIZED.
							</xs:documentation>
              <xs:documentation>Example:&lt;Type&gt;CONTINUOUS&lt;/Type&gt;</xs:documentation>

						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="TRIGGERED"/>
								<xs:enumeration value="CONTINUOUS"/>
								<xs:enumeration value="HEALTH"/>
								<xs:enumeration value="GEOPHYSICAL"/>
								<xs:enumeration value="WEATHER"/>
								<xs:enumeration value="FLAG"/>
								<xs:enumeration value="SYNTHESIZED"/>
								<xs:enumeration value="INPUT"/>
								<xs:enumeration value="EXPERIMENTAL"/>
								<xs:enumeration value="MAINTENANCE"/>
								<xs:enumeration value="BEAM"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:group ref="fsx:SampleRateGroup" minOccurs="0"/>
					<xs:element name="ClockDrift" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Tolerance value, measured in seconds per sample,
								used as a threshold for time error detection in data from the channel.
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:restriction base="fsx:FloatType">
									<xs:minInclusive value="0"/>
									<xs:attribute name="unit" type="xs:string" use="optional" fixed="SECONDS/SAMPLE">
											<xs:annotation>
												<xs:documentation>The unit of drift value.
												</xs:documentation>
												<xs:documentation>Example:unit='SECONDS/SAMPLE'
												</xs:documentation>
											</xs:annotation>
										</xs:attribute>
								</xs:restriction>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="CalibrationUnits" type="fsx:UnitsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Units of calibration (e.g., V (for Volts) or A (for amps))</xs:documentation>
							<xs:documentation>Use *SI* units when possible</xs:documentation>
              <xs:documentation>Example: &lt;CalibrationUnits&gt;V&lt;/CalibrationUnits&gt;</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Sensor" type="fsx:EquipmentType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Details of the (typically analog) sensor attached to this channel. 
									If this was entered at the Station level, it is not necessary to do it for each Channel, 
									unless you have differences in equipment.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					<xs:element name="PreAmplifier" type="fsx:EquipmentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Preamplifier (if any) used by this channel. If this was entered at the Station level,
								it is not necessary to do it for each Channel, unless you have differences in equipment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DataLogger" type="fsx:EquipmentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Datalogger that recorded this channel. If this was entered at the Station level,
								it is not necessary to do it for each Channel, unless you have differences in equipment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Equipment" type="fsx:EquipmentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>If the Equipment is entered at the Station level,
								it is not necessary to do it for each Channel, unless you have differences in equipment.
								If using a preamplifier, sensor, or datalogger, use their appropriate fields instead.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Response" type="fsx:ResponseType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="locationCode" type="xs:string" use="required">
					<xs:annotation>
	<xs:documentation>
		The locationCode is typically used to group channels from a common sensor.
		For example, the channels of the primary sensor at global IDA-IRIS
		stations have locationCode = &apos;00&apos;: 00_BHZ, 00_BHE, 00_BHN, 00_LHZ, ..., etc.
    Even though it is required, locationCode may be, and often is, an empty string,
    however, it is recommended that the locationCode not be empty.
	</xs:documentation>
	<xs:documentation>Example:locationCode=&apos;30&apos;</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- End ChannelType -->
	<xs:complexType name="GainType">
		<xs:annotation>
			<xs:documentation>Type for sensitivity at a given frequency. This complex type
				can be used to represent both total sensitivities and individual stage gains.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="xs:double">
				<xs:annotation>
          <xs:documentation>
            A scalar value representing the amount of amplification or diminuition, if any,
            the current stage applies to the input signal.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Frequency" type="xs:double">
				<xs:annotation>
					<xs:documentation>The frequency (in Hertz) at which the Value is valid.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="FrequencyRangeGroup">
		<xs:annotation>
			<xs:documentation>Type for defining a pass band (in Hertz) from FrequencyStart to FrequencyEnd
				in which a sensitivity value is valid within the number of decibels specified in FrequencyDBVariation. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FrequencyStart" type="xs:double">
				<xs:annotation>
          <xs:documentation>The lowest frequency for which the InstrumentSensitivity is valid.
            &lt;FrequencyStart&gt;, &lt;FrequencyEnd&gt; and &lt;FrequencyDBVariation&gt; are not
            required, however, if one of these is present, then all must be present.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrequencyEnd" type="xs:double">
				<xs:annotation>
					<xs:documentation>The highest frequency for which the InstrumentSensitivity is valid.
            &lt;FrequencyStart&gt;, &lt;FrequencyEnd&gt; and &lt;FrequencyDBVariation&gt; are not
            required, however, if one of these is present, then all must be present.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrequencyDBVariation" type="xs:double">
				<xs:annotation>
					<xs:documentation>Variation in decibels within the specified frequency range.
            &lt;FrequencyStart&gt;, &lt;FrequencyEnd&gt; and &lt;FrequencyDBVariation&gt; are not
            required, however, if one of these is present, then all must be present.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="SensitivityType">
		<xs:annotation>
			<xs:documentation>Type for sensitivity, input/output units and relevant frequency range.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fsx:GainType">
				<xs:sequence>
					<xs:element name="InputUnits" type="fsx:UnitsType">
						<xs:annotation>
							<xs:documentation> The units of the data as input from the perspective
								of data acquisition. After correcting data for this response, these
								would be the resulting units.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OutputUnits" type="fsx:UnitsType">
						<xs:annotation>
							<xs:documentation> The units of the data as output from the perspective
								of data acquisition. These would be the units of the data prior to
								correcting for this response.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="fsx:FrequencyRangeGroup" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The frequency range for which the sensitivity value is
								valid within the dB variation specified.
							</xs:documentation>
						</xs:annotation>
					</xs:group>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EquipmentType">
		<xs:annotation>
			<xs:documentation>A type for equipment related to data acquisition or processing.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Manufacturer of equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vendor" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vendor of equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Model of equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Serial number of equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstallationDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Installation date of equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemovalDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Removal date of equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalibrationDate" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A description of the units of the calibration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="resourceId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation> An identifier that serves to uniquely identify this resource.
					This identifier can be interpreted differently depending on the datacenter/software
					that generated the document. Also, we recommend using a prefix, e.g., GENERATOR:Meaningful ID.
					It should be expected that equipment with the same ID should indicate the same information/be
					derived from the same base instruments.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ResponseStageType">
		<xs:annotation>
			<xs:documentation>Type for channel response entry or stage.  A full response is
				represented as a sequence of these stages.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>A choice of polynomial versus all other response types,
						to enforce one response per stage.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:choice>
						<xs:element name="PolesZeros" type="fsx:PolesZerosType" minOccurs="0">
		          <xs:annotation>
                <xs:documentation>
                  Response stage described by the complex poles and zeros of the Laplace Transform (or z-transform) 
                  of the transfer function for this stage.
                </xs:documentation>
		          </xs:annotation>
						</xs:element>

						<xs:element name="Coefficients" type="fsx:CoefficientsType" minOccurs="0"/>
						<xs:element name="ResponseList" type="fsx:ResponseListType" minOccurs="0"/>
						<xs:element name="FIR" type="fsx:FIRType" minOccurs="0">
						</xs:element>
					</xs:choice>
					<xs:element name="Decimation" type="fsx:DecimationType" minOccurs="0"/>
					<xs:element name="StageGain" type="fsx:GainType">
						<xs:annotation>
							<xs:documentation>The gain at the stage of the encapsulating
								response element at a specific frequency.
								Total channel sensitivity should be specified in the InstrumentSensitivity
								element.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="Polynomial" type="fsx:PolynomialType">
					<xs:annotation>
           					<xs:documentation>
						When a response is given in terms of a polynomial expansion of
						powers of the sensor output signal (e.g., Volts), a Polynomial Stage is 
						required to specify the Maclaurin coefficients of the expansion.

						In addition, an InstrumentPolynomial element must be present at Response level
						to represent the whole acquisition process, which contains the same Maclaurin
						coefficients, but scaled by powers of the overall gain for all stages.
						</xs:documentation>
            				</xs:annotation>
        			</xs:element>
			</xs:choice>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="number" type="fsx:CounterType" use="required">
			<xs:annotation>
				<xs:documentation>Stage sequence number. This is used in all the response
					blockettes. Start from name='1' and iterate sequentially.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="resourceId" type="xs:string">
			<xs:annotation>
				<xs:documentation> An identifier that serves to uniquely identify this resource.
					This identifier can be interpreted differently depending on the datacenter/software
					that generated the document. Also, we recommend using a prefix, e.g., GENERATOR:Meaningful ID.
					It should be expected that equipment with the same ID should indicate the same information/be
					derived from the same base instruments.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CommentType">
		<xs:annotation>
			<xs:documentation>Container for a comment or log entry.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comment text.</xs:documentation>
          <xs:documentation>LevelChoice:N Example:&lt;Value&gt;Temporary network deployment&lt;/Value&gt;</xs:documentation>
          <xs:documentation>LevelChoice:S Example:&lt;Value&gt;GPS CLock is unlocked&lt;/Value&gt;</xs:documentation>
          <xs:documentation>LevelChoice:C Example:&lt;Value&gt;Large number of spikes&lt;/Value&gt;</xs:documentation>
			  </xs:annotation>
      			</xs:element>
			<xs:element name="BeginEffectiveTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start time for when comment applies.</xs:documentation>
					<xs:documentation>Example:&lt;BeginEffectiveTime&gt;2008-09-15T00:00:00&lt;/BeginEffectiveTime&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndEffectiveTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>End time for when comment applies.</xs:documentation>
 					<xs:documentation>Example:&lt;EndEffectiveTime&gt;2008-09-16T12:00:00&lt;/EndEffectiveTime&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Author" type="fsx:PersonType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Author of Comment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="fsx:CounterType" use="optional">
			<xs:annotation>
				<xs:documentation>An ID for this comment</xs:documentation>
				<xs:documentation>Example:id=12345</xs:documentation>
			</xs:annotation>
		</xs:attribute>

		<xs:attribute name="subject" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>A subject for this comment.  Multiple comments with the same
					subject should be considered related.
				</xs:documentation>
				<xs:documentation>Example:subject=&apos;Scheduled maintenance&apos;</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PolesZerosType">
		<xs:complexContent>
			<xs:extension base="fsx:BaseFilterType">
				<xs:sequence>
					<xs:element name="PzTransferFunctionType">
						<xs:annotation>
              <xs:documentation>
                Allowable values are:"LAPLACE (RADIANS/SECOND)", "LAPLACE (HERTZ)", "DIGITAL (Z-TRANSFORM)".
                For an analog stage this should be the units of the poles and zeros of
                the Laplace Transform, either:
                "LAPLACE (RADIANS/SECOND)" or "LAPLACE (HERTZ)".
                For a digial z-transform (e.g., for an IIR filter), this should be
                "DIGITAL (Z-TRANSFORM)"
							</xs:documentation>
              <xs:documentation>Example: &lt;PzTransferFunctionType&gt;LAPLACE (RADIANS/SECOND)&lt;/PzTransferFunctionType&gt;"
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="LAPLACE (RADIANS/SECOND)"/>
								<xs:enumeration value="LAPLACE (HERTZ)"/>
								<xs:enumeration value="DIGITAL (Z-TRANSFORM)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NormalizationFactor" type="xs:double" default="1.0">
						<xs:annotation>
							<xs:documentation>Normalization scale factor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NormalizationFrequency" type="fsx:FrequencyType">
						<xs:annotation>
							<xs:documentation>Frequency at which the NormalizationFactor is valid.
								This should be the same for all stages and within the passband, if any.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Zero" type="fsx:PoleZeroType" minOccurs="0" maxOccurs="unbounded">
		        <xs:annotation>
			        <xs:documentation>Complex zero of the polezero stage.</xs:documentation>
		        </xs:annotation>
					</xs:element>
					<xs:element name="Pole" type="fsx:PoleZeroType" minOccurs="0" maxOccurs="unbounded">
		        <xs:annotation>
			        <xs:documentation>Complex pole of the polezero stage.</xs:documentation>
		        </xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FIRType">
		<xs:annotation>
			<xs:documentation>Response type for FIR filter.  FIR filters
				are also commonly documented using the Coefficients element, with this newer type
				allowing representation of symmetric FIR coefficients without repeating them.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fsx:BaseFilterType">
				<xs:sequence>
					<xs:element name="Symmetry">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="NONE"/>
								<xs:enumeration value="EVEN"/>
								<xs:enumeration value="ODD"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NumeratorCoefficient" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="i" type="xs:integer"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CoefficientsType">
		<xs:annotation>
			<xs:documentation>Response type for FIR coefficients. Laplace transforms or IIR
				filters can both be expressed using type as well but the PolesAndZerosType should be used
				instead.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fsx:BaseFilterType">
				<xs:sequence>
					<xs:element name="CfTransferFunctionType">
						<xs:annotation>
							<xs:documentation> Almost always a digital response, but can be an
								analog response in rad/sec or Hertz.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ANALOG (RADIANS/SECOND)"/>
								<xs:enumeration value="ANALOG (HERTZ)"/>
								<xs:enumeration value="DIGITAL"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Numerator" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Numerator for the coefficient
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="fsx:FloatNoUnitType">
									<xs:attribute name="number" type="fsx:CounterType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Denominator" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Denominator for the coefficient
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="fsx:FloatNoUnitType">
									<xs:attribute name="number" type="fsx:CounterType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseListElementType">
		<xs:sequence>
			<xs:element name="Frequency" type="fsx:FrequencyType"/>
			<xs:element name="Amplitude" type="fsx:FloatType"/>
			<xs:element name="Phase" type="fsx:AngleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseListType">
		<xs:annotation>
			<xs:documentation>Response type for a list of frequency, amplitude, and phase values.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fsx:BaseFilterType">
				<xs:sequence>
					<xs:element name="ResponseListElement" type="fsx:ResponseListElementType"
						minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PolynomialType">
		<xs:annotation>
			<xs:documentation>Response type for a reponse represented as a polynomial expansion,
				which allows non-linear sensors to be described. Used at either a stage of
				acquisition response or a complete system. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fsx:BaseFilterType">
				<xs:sequence>
					<xs:element name="ApproximationType" default="MACLAURIN">
						<xs:annotation>
							<xs:documentation>The series type for the polynomial approximation</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="MACLAURIN"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FrequencyLowerBound" type="fsx:FrequencyType">
						<xs:annotation>
							<xs:documentation>The lower bound of the frequency range.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FrequencyUpperBound" type="fsx:FrequencyType">
						<xs:annotation>
							<xs:documentation>The upper bound of the frequency range.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApproximationLowerBound" type="xs:double">
						<xs:annotation>
							<xs:documentation>The lower bound of the approximation range.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApproximationUpperBound" type="xs:double">
						<xs:annotation>
							<xs:documentation>The upper bound of the approximation range.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumError" type="xs:double">
						<xs:annotation>
							<xs:documentation>The maximum error of the approximation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Coefficient" maxOccurs="unbounded">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="fsx:FloatNoUnitType">
									<xs:attribute name="number" type="fsx:CounterType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DecimationType">
		<xs:annotation>
			<xs:documentation>Representation of decimation stage</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InputSampleRate" type="fsx:FrequencyType"/>
			<xs:element name="Factor" type="xs:integer">
				<xs:annotation>
					<xs:documentation> The factor of the input sample rate by which the rate is reduced.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Offset" type="xs:integer">
				<xs:annotation>
					<xs:documentation> Sample offset chosen for use. The value should be greater than or equal to zero,
						but less than the decimation factor. If the first sample is used, set this field to zero.
						If the second sample, set it to 1, and so forth.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Delay" type="fsx:FloatType">
				<xs:annotation>
					<xs:documentation>The estimated pure delay for the stage. This value will almost always be positive
					to indicate a delayed signal. Due to the difficulty in estimating the pure delay
					of a stage and because dispersion is neglected, this value should be
					considered nominal.  Normally the delay would be corrected by the
					recording system and the correction applied would be specified in &lt;Correction&gt; below.
					See the Decimation Section in the StationXML documentation for a schematic description of delay sign convention.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Correction" type="fsx:FloatType">
				<xs:annotation>
					<xs:documentation>
					The time shift, if any, applied to correct for the delay at this stage.
					The sign convention used is opposite the &lt;Delay&gt; value; a positive sign here
					indicates that the trace was corrected to an earlier time to cancel the
					delay caused by the stage and indicated in the &lt;Delay&gt; element.
					Commonly, the estimated delay and the applied correction are both positive to cancel
					each other.  A value of zero indicates no correction was applied.
					See the Decimation Section in the StationXML documentation for a schematic description of delay sign convention.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- The following elements represent numbers. -->
	<xs:attributeGroup name="uncertaintyDouble">
		<xs:annotation>
			<xs:documentation>Attributes for expressing uncertainties or errors with positive and negative
				components. Both values should be given as positive integers, but the minusError is
				understood to be negative. </xs:documentation>
		</xs:annotation>
		<xs:attribute name="plusError" type="xs:double" use="optional">
			<xs:annotation>
				<xs:documentation>plus uncertainty or error in measured value.</xs:documentation>
				<xs:documentation>Example:plusError=0.1</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minusError" type="xs:double" use="optional">
			<xs:annotation>
				<xs:documentation>minus uncertainty or error in measured value.</xs:documentation>
				<xs:documentation>Example:minusError=0.1</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="measurementMethod" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:complexType name="FloatNoUnitType">
		<xs:annotation>
			<xs:documentation>Representation of floating-point numbers without unit.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FloatType">
		<xs:annotation>
			<xs:documentation>Representation of floating-point numbers used as measurements.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attribute name="unit" type="xs:string" use="optional">
				  <xs:annotation>
            <xs:documentation>The unit of measurement. Use SI unit names and symbols whenever possible.</xs:documentation>
            <xs:documentation>Example:unit='SECONDS'</xs:documentation>
            <xs:documentation>ElementChoice:WATERLEVEL Example:unit=&apos;METERS&apos;</xs:documentation> 
            <xs:documentation>ElementChoice:AMPLITUDE Example:unit=&apos;METERS&apos;</xs:documentation>
				  </xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- Derived from FloatType. -->
	<xs:complexType name="SecondType">
		<xs:annotation>
			<xs:documentation>A time duration value in seconds.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:attribute name="unit" type="xs:string" fixed="SECONDS">
						<xs:annotation>
							<xs:documentation>The type of unit being used.
							</xs:documentation>
							<xs:documentation>Example:unit='SECONDS'
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VoltageType">
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:attribute name="unit" type="xs:string" fixed="VOLTS">
						<xs:annotation>
							<xs:documentation>The type of unit being used.
							</xs:documentation>
							<xs:documentation>Example:unit='VOLTS'
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AngleType">
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:minInclusive value="-360"/>
				<xs:maxInclusive value="360"/>
				<xs:attribute name="unit" type="xs:string" use="optional" fixed="DEGREES">
					<xs:annotation>
						<xs:documentation>The type of unit being used.
						</xs:documentation>
						<xs:documentation>Example:unit='DEGREES'
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LatitudeBaseType">
		<xs:annotation>
			<xs:documentation>Base latitude type.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:minInclusive value="-90"/>
				<xs:maxExclusive value="90"/>
				<xs:attribute name="unit" type="xs:string" use="optional" fixed="DEGREES">
					<xs:annotation>
						<xs:documentation>The type of unit being used.
						</xs:documentation>
						<xs:documentation>Example:unit='DEGREES'
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LatitudeType">
		<xs:annotation>
			<xs:documentation>Latitude type extending the base type to add datum as an attribute with default.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fsx:LatitudeBaseType">
				<xs:attribute name="datum" type="xs:NMTOKEN" use="optional" default="WGS84"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LongitudeBaseType">
		<xs:annotation>
			<xs:documentation>Base longitude type.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:minInclusive value="-180"/>
				<xs:maxInclusive value="180"/>
				<xs:attribute name="unit" type="xs:string" use="optional" fixed="DEGREES">
					<xs:annotation>
						<xs:documentation>The type of unit being used.
						</xs:documentation>
						<xs:documentation>Example:unit='DEGREES'
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LongitudeType">
		<xs:annotation>
			<xs:documentation>Longitude type extending the base type to add datum as an attribute with default.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fsx:LongitudeBaseType">
				<xs:attribute name="datum" type="xs:NMTOKEN" use="optional" default="WGS84"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AzimuthType">
		<xs:annotation>
			<xs:documentation>Instrument azimuth, degrees clockwise from North.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:minInclusive value="0"/>
				<xs:maxExclusive value="360"/>
				<xs:attribute name="unit" type="xs:string" use="optional" fixed="DEGREES">
					<xs:annotation>
						<xs:documentation>The type of unit being used.
						</xs:documentation>
						<xs:documentation>Example:unit='DEGREES'
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DipType">
		<xs:annotation>
			<xs:documentation>Instrument dip in degrees down from horizontal.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:minInclusive value="-90"/>
				<xs:maxInclusive value="90"/>
				<xs:attribute name="unit" type="xs:string" use="optional" fixed="DEGREES">
						<xs:annotation>
							<xs:documentation>The type of unit being used.
							</xs:documentation>
							<xs:documentation>Example:unit='DEGREES'
							</xs:documentation>
						</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DistanceType">
		<xs:annotation>
			<xs:documentation>Extension of FloatType for distances, elevations, and depths.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:attribute name="unit" type="xs:string" use="optional" default="METERS">
					<xs:annotation>
						<xs:documentation>The type of unit being used.
						</xs:documentation>
						<xs:documentation>Example:unit='METERS'
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="fsx:uncertaintyDouble"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FrequencyType">
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:attribute name="unit" type="xs:string" use="optional" fixed="HERTZ">
					<xs:annotation>
						<xs:documentation>The type of unit being used.
						</xs:documentation>
						<xs:documentation>Example:unit='HERTZ'
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:group name="SampleRateGroup">
		<xs:annotation>
			<xs:documentation>This is a group of elements that represent sample rate. If this group
				is included, then SampleRate, which is the sample rate in samples per second, is
				required. SampleRateRatio, which is expressed as a ratio of number of samples in a
				number of seconds, is optional. If both are included, SampleRate should be
				considered more definitive. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SampleRate" type="fsx:SampleRateType">
		    <xs:annotation>
          <xs:documentation>
            Sample rate in samples per second.
            SampleRate is optional unless SampleRateRatio is present, in which case 
            SampleRate is required.
            Example:&lt;SampleRate units='SAMPLES/S'&gt;40.0&lt;/SampleRate&gt;
          </xs:documentation>
		    </xs:annotation>
      </xs:element>
			<xs:element name="SampleRateRatio" type="fsx:SampleRateRatioType" minOccurs="0">
		    <xs:annotation>
          <xs:documentation>
            Sample rate expressed as number of samples in a number of seconds.
            If present, then &lt;SampleRate&gt; must also be present.
            It can be useful for very slow data (e.g., greater than 10 days),
            since it allows for greater precision in the stored value.
            Example:&lt;SampleRate&gt;3.859999367e-07&lt;/SampleRate&gt;
            &lt;SampleRateRatio&gt;&lt;NumberSamples&gt;1&lt;/NumberSamples&gt;
            &lt;NumberSeconds&gt;2590674&lt;/NumberSeconds&gt;
            &lt;/SampleRateRatio&gt;
          </xs:documentation>
		    </xs:annotation>
		  </xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="SampleRateType">
		<xs:simpleContent>
			<xs:restriction base="fsx:FloatType">
				<xs:attribute name="unit" type="xs:string" use="optional" fixed="SAMPLES/S">
					<xs:annotation>
						<xs:documentation>The type of unit being used.
						</xs:documentation>
						<xs:documentation>Example:unit='SAMPLES/S'
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SampleRateRatioType">
		<xs:sequence>
			<xs:element name="NumberSamples" type="xs:integer">
					<xs:annotation>
						<xs:documentation>
              Integer number of samples that span a number of seconds.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			<xs:element name="NumberSeconds" type="xs:integer">
					<xs:annotation>
						<xs:documentation>
              Integer number of seconds that span a number of samples.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PoleZeroType">
		<xs:sequence>
			<xs:element name="Real" type="fsx:FloatNoUnitType">
				<xs:annotation>
					<xs:documentation>Real part of the pole or zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Imaginary" type="fsx:FloatNoUnitType">
				<xs:annotation>
					<xs:documentation>Imaginary part of the pole or zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="number" type="xs:integer">
				<xs:annotation>
					<xs:documentation>The position index of the pole (or zero) in the array of poles[] (or zeros[])</xs:documentation>
          <xs:documentation>Example:&lt;Pole number=&apos;1&apos;&gt;</xs:documentation>
				</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="CounterType">
		<xs:annotation>
			<xs:documentation>Integers greater than or equal to 0.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OperatorType">
		<xs:annotation>
			<xs:documentation>An operating agency and associated contact persons.
				Since the Contact element is a generic type that represents any contact
				person, it also has its own optional Agency element.
				It is expected that typically the contacts optional Agency tag will match the Operator Agency.
				Only contacts appropriate for the enclosing element should be include in the Operator tag.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Agency" type="xs:string">
				<xs:annotation>
			    		<xs:documentation>An operating agency and associated contact persons.</xs:documentation>
					<xs:documentation>Example:&lt;Agency&gt;USGS&lt;/Agency&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="fsx:PersonType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WebSite" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Website of operating agency</xs:documentation>
					<xs:documentation>Example:&lt;WebSite&gt;http://usgs.gov&lt;/WebSite&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>Person's contact information. A person can belong
				to multiple agencies and have multiple email addresses and phone numbers.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name of contact or author</xs:documentation>
					<xs:documentation>Example:&lt;Name&gt;Alfred E. Neuman&lt;/Name&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Agency of contact or author</xs:documentation>
					<xs:documentation>Example:&lt;Agency&gt;Mad Magazine, Inc.&lt;/Agency&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="fsx:EmailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Email of contact or author</xs:documentation>
					<xs:documentation>Example:&lt;Email&gt;a.neuman@nosuchsite.com&lt;/Email&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="fsx:PhoneNumberType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Phone of contact or author</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SiteType">
		<xs:annotation>
			<xs:documentation> Description of a site location using name and optional geopolitical boundaries (country, city, etc.).
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the site</xs:documentation>
					<xs:documentation>Example:&lt;Name&gt;Albuquerque, New Mexico&lt;/Name&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A longer description of the location of this station</xs:documentation>
					<xs:documentation>Example:&lt;Description&gt;NW corner of Yellowstone National Park&lt;/Description&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Town" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The town or city closest to the station.</xs:documentation>
					<xs:documentation>Example:&lt;Town&gt;Albuquerque&lt;/Town&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="County" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The county where the station is located</xs:documentation>
					<xs:documentation>Example:&lt;County&gt;Bernalillo&lt;/County&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="Region" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The state, province, or region of this site.</xs:documentation>
					<xs:documentation>Example:&lt;Region&gt;Southwest U.S.&lt;/Region&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The country of this site.</xs:documentation>
					<xs:documentation>Example:&lt;Country&gt;U.S.A.&lt;/Country&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ExternalReferenceType">
		<xs:annotation>
			<xs:documentation>This type contains a URI and description for external data that users
				may want to reference in StationXML.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="URI" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>URI of the external reference.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description of the external reference.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Simple types -->
	<xs:simpleType name="NominalType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="NOMINAL"/>
			<xs:enumeration value="CALCULATED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\w\.\-_]+@[\w\.\-_]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PhoneNumberType">
		<xs:sequence>
			<xs:element name="CountryCode" type="xs:integer" minOccurs="0">
				<xs:annotation>
 					<xs:documentation>Telephone country code</xs:documentation>
					<xs:documentation>Example:&lt;CountryCode&gt;64&lt;/CountryCode&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AreaCode" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Telephone area code</xs:documentation>
					<xs:documentation>Example:&lt;AreaCode&gt;408&lt;/CountryCode&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber">
				<xs:annotation>
					<xs:documentation>Telephone phonenumber</xs:documentation>
					<xs:documentation>Example:&lt;PhoneNumber&gt;5551212&lt;/PhoneNumber&gt;</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]+-[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="description" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="RestrictedStatusType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="open"/>
			<xs:enumeration value="closed"/>
			<xs:enumeration value="partial"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UnitsType">
		<xs:annotation>
			<xs:documentation>A type to document units, SI whenever possible.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Symbol or name of units, e.g. "m/s", "V", "Pa", "C".  SI whenever possible.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of units, e.g. "Velocity in meters per second",
						"Volts", "Pascals", "Degrees Celsius".
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentifierType">
		<xs:annotation>
			<xs:documentation>A type to document persistent identifiers.
				Identifier values should be specified without a URI scheme (prefix),
				instead the identifier type is documented as an attribute.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string">
					<xs:annotation>
						<xs:documentation>Identifier type</xs:documentation>
						<xs:documentation>Example:type=&apos;DOI&apos;</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BaseFilterType">
		<xs:annotation>
			<xs:documentation> The BaseFilterType is derived by all filters. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
          <xs:documentation> The description of the filter/stage/response</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputUnits" type="fsx:UnitsType">
				<xs:annotation>
					<xs:documentation> The units of the data as input from the perspective of data
						acquisition. After correcting data for this response, these would be the
						resulting units.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutputUnits" type="fsx:UnitsType">
				<xs:annotation>
					<xs:documentation> The units of the data as output from the perspective of data
						acquisition. These would be the units of the data prior to correcting for
						this response.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="resourceId" type="xs:string">
			<xs:annotation>
				<xs:documentation> An identifier that serves to uniquely identify this resource.
					This identifier can be interpreted differently depending on the datacenter/software
					that generated the document. Also, we recommend using a prefix, e.g., GENERATOR:Meaningful ID.
					It should be expected that equipment with the same ID should indicate the same information/be
					derived from the same base instruments.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string">
			<xs:annotation>
				<xs:documentation>A name given to this filter. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ResponseType">
		<xs:annotation>
			<xs:documentation>The complete instrument response for this channel that expresses the effect of the
				geophysical instrumentation used to record the input ground motion.
				The information can be used to convert raw data to Earth at a specified
				frequency or within a range of frequencies.
				It is strongly suggested that either InstrumentSensitivity or InstrumentPolynomial should be present.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>Instrument sensitivities, or the complete system sensitivity,
						can be expressed using either a sensitivity value or a polynomial. The
						information can be used to convert raw data to Earth units at a specified
						frequency or within a range of frequencies.
					</xs:documentation>
				</xs:annotation>
				<xs:element name="InstrumentSensitivity" type="fsx:SensitivityType" minOccurs="0">
					<xs:annotation>
						<xs:documentation> The total sensitivity for a channel, representing the
							complete acquisition system expressed as a scalar.
							All instrument responses except polynomial response should have
							an InstrumentSensitivity.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InstrumentPolynomial" type="fsx:PolynomialType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>For non-linear sensors (e.g., :math:`N\ge 2`), such as some thermistors,
						pressure transducers, extensometers, etc.), it is required to
						express the sensor input (e.g., Temp) as a Maclaurin series expansion of powers of the
						*output* units (e.g., Volts):
						.. math::
						[Temp(V)=\sum_{k=0}^{N} a_k V^{k}]endEQ

						For such responses, two StationXML components are required to specify the response:
						1. A Polynomial stage, which contains the values of the Maclaurin coefficients,
						:math:`a_k`, and 2. An InstrumentPolynomial element that contains the
						same coefficients, but scaled by powers of the overall gain representing the
						combined effect of all the stages in the complete acquisition system.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Stage" type="fsx:ResponseStageType" minOccurs="0"
				maxOccurs="unbounded">
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="resourceId" type="xs:string">
			<xs:annotation>
				<xs:documentation> An identifier that serves to uniquely identify this resource.
					This identifier can be interpreted differently depending on the datacenter/software
					that generated the document. Also, we recommend using a prefix, e.g., GENERATOR:Meaningful ID.
					It should be expected that equipment with the same ID should indicate the same information/be
					derived from the same base instruments.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="BaseNodeType">
		<xs:annotation>
			<xs:documentation>A base node type use in Network, Station, and Channel types.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
          <xs:documentation>Description of the Network, Station, or Channel</xs:documentation>
          <xs:documentation>LevelChoice:N Description of the Network</xs:documentation>
          <xs:documentation>LevelChoice:S Description of the Station</xs:documentation>
          <xs:documentation>LevelChoice:C Description of the Channel</xs:documentation>
					<xs:documentation>Example:&lt;Description&gt;This is a description&lt;/Description&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identifier" type="fsx:IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="fsx:CommentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DataAvailability" type="fsx:DataAvailabilityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A description of time series data availability. This
						information should be considered transient and is primarily useful as a
						guide for generating time series data requests. The information for a
						DataAvailability:Span may be specific to the time range used in a request
						that resulted in the document or limited to the availability of data within
						the request range. These details may or may not be retained when
						synchronizing metadata between data centers.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" use="required">
			<xs:annotation>
        <xs:documentation>Example:code='IU' or code='ANMO'</xs:documentation>
        <xs:documentation>LevelChoice:N Name of Network Example:code='IU'</xs:documentation>
        <xs:documentation>LevelChoice:S Name of Station Example:code='ANMO'</xs:documentation>
        <xs:documentation>LevelChoice:C Name of Channel Example:code='BHZ'</xs:documentation>
      </xs:annotation>
		</xs:attribute>
		<xs:attribute name="startDate" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>Start date of network/station/channel epoch </xs:documentation>
        <xs:documentation>LevelChoice:N Start date of network</xs:documentation>
        <xs:documentation>LevelChoice:S Start date of station epoch</xs:documentation>
        <xs:documentation>LevelChoice:C Start date of channel epoch</xs:documentation>
        <xs:documentation>Example:startDate=2016-07-01T00:00:00</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endDate" type="xs:dateTime">
			<xs:annotation>
        <xs:documentation>End date of network/station/channel epoch</xs:documentation>
        <xs:documentation>LevelChoice:N End date of network</xs:documentation>
        <xs:documentation>LevelChoice:S End date of station epoch</xs:documentation>
        <xs:documentation>LevelChoice:C End date of channel epoch</xs:documentation>
        <xs:documentation>Example:endDate=2018-01-27T00:00:00</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sourceID" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>A data source identifier in URI form</xs:documentation>
				<xs:documentation>Example:sourceID=&apos;http://some/path&apos;</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="restrictedStatus" type="fsx:RestrictedStatusType" use="optional">
			<xs:annotation>
				<xs:documentation>One of:&apos;open&apos;, &apos;closed&apos;, &apos;partial&apos;</xs:documentation>
				<xs:documentation>Example:restrictedStatus=&apos;open&apos;</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alternateCode" type="xs:string" use="optional">
			<xs:annotation>
        <xs:documentation>A code use for display or association</xs:documentation>
        <xs:documentation>
          LevelDefault: A code use for display or association
          LevelChoice:N Example:alternateCode='GSN'
          LevelChoice:S Example:alternateCode='ALQ'
          LevelChoice:C Example:alternateCode='Z'
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="historicalCode" type="xs:string" use="optional">
			<xs:annotation>
        <xs:documentation>LevelDefault:A previously used code if different from the current code</xs:documentation>
        <xs:documentation>
          LevelDefault: A previously used code if different from the current code
          LevelChoice:N Example:historicalCode='II'
          LevelChoice:S Example:historicalCode='albq'
          LevelChoice:C Example:historicalCode='bhz'
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="DataAvailabilityExtentType">
		<xs:annotation>
			<xs:documentation>Data availability extents, the earliest and
				latest data available. No information about the continuity of the data
				is included or implied.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="start" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>start date of extent</xs:documentation>
				<xs:documentation>Example:start=1988-01-01T00:00:00</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>end date of extent</xs:documentation>
				<xs:documentation>Example:end=1988-12-31T00:00:00</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="DataAvailabilitySpanType">
		<xs:annotation>
			<xs:documentation> A type for describing data availability spans, with variable
				continuity. The time range described may be based on the request parameters that
				generated the document and not necessarily relate to continuity outside of the
				range. It may also be a smaller time window than the request depending on the data
				characteristics.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="start" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>start date of span</xs:documentation>
				<xs:documentation>Example:start=1988-01-01T00:00:00</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>end date of span</xs:documentation>
				<xs:documentation>Example:end=1988-12-31T00:00:00</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberSegments" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation> The number of continuous time series segments contained in the
					specified time range. A value of 1 indicates that the time series is continuous
					from start to end.
				</xs:documentation>
			  <xs:documentation>Example:numberSegments=2</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maximumTimeTear" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation> The maximum time tear (gap or overlap) in seconds between time
					series segments in the specified range.
				</xs:documentation>
				<xs:documentation>Example:maximumTimeTear=0.01</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="DataAvailabilityType">
		<xs:annotation>
			<xs:documentation>A type for describing data availability.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Extent" type="fsx:DataAvailabilityExtentType" minOccurs="0"/>
			<xs:element name="Span" type="fsx:DataAvailabilitySpanType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
</xs:schema>
